* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #252525;

}

ul,li {
    list-style: none;
}

img {
    border: 0;
    display: block;
}

body {
    
    font-family: 'Noto Sans KR', sans-serif;
}

/* header {
    font-family: 'Nanum Brush Script', cursive;
} */

